<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<navsection id="navsection">
<div class="d-flex flex-column">
<div class="profile">
    <img src="img/me.jpeg" alt class="img-fluid rounded-circle" width="300" height="100">
    <h1 class="text-light">
        <a href="/index">Chris Avina</a>
    </h1>
</div>
<nav id="navbar" class="nav-menu navbar">
    <ul>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
    </ul>
    </nav>
</div>
<

