<% layout('layouts/boilerplate')%>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
      <h1>Chris Avina</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer">Photographer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span></p>
    </div>
</section>