*,::after,::before {
    box-sizing: border-box
}

body,html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
}

.hero-container {
    position: relative;
    text-align: center;
    color: #fff; /* Change text color to your preference */
    padding: 100px 0; /* Adjust padding as needed */
    height: 100vh;
    width: 100vw;
    overflow: visible;
    margin: -100px 0;
    margin-left: -100px -100px;
}

.hero-background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/wooddesk.jpg);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#hero-image {
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/wooddesk.jpg);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


#navsection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: max-content; /* Set your desired fixed height */
    height: 100vh;
    background: #023b6d;
    
    align-items: flex-start;
    z-index: 1;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 10px; /* Adjust padding based on your design */
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: max-content;
    background: #023b6d;
    color: #fff;
    text-align: left; /* Align text to the left */
    padding: 10px; /* Adjust padding based on your design */
}

/* Additional styling for the footer content */
#footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
}

#footer .copyright,
#footer .credits {
    margin: 0;
}

#footer .credits a {
    color: #fff;
    text-decoration: none;
}

